<!-- Render KaTeX math blocks inserted by kramdown -->
<script>
document.querySelectorAll("script[type='math/tex']").forEach(function(el) {
  var span = document.createElement("span");
  span.className = "inline-equation";
  span.innerHTML = katex.renderToString(el.textContent);
  el.parentNode.replaceChild(span, el);
});

document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
  var div = document.createElement("div");
  div.className = "equation";
  div.innerHTML = katex.renderToString("\\displaystyle " + el.textContent);
  el.parentNode.replaceChild(div, el);
});
</script>
