---
layout: page
---
<b>Author(s)</b>: 
{% for author in page.authors %}
<a href="https://scholar.google.co.uk/citations?view_op=search_authors&amp;mauthors={{author}}&amp;oi=ao" target="_blank">{{author}}</a>{% if forloop.last == false %},{% endif %}
{% endfor %}<br/>
<b>Venue</b>: {{page.venue}}<br/>
<b>Year</b>: {{page.year}}<br/>
<br/>
<b>Paper</b>: <a href="{{page.link}}" target="_blank">{{page.link}}</a>

<h3>Abstract</h3>{{page.abstract | markdownify}}

<h3>Additional information</h3>
{{page.content}}